# --- Core utilities ---
python-dotenv
PyYAML
pandas
numpy
tqdm
loguru
tiktoken
nltk

# --- Visualization ---
matplotlib
plotly

# --- Text Extraction & Preprocessing ---
pdfminer.six
python-docx
PyMuPDF==1.24.4
spacy
pypdf
scikit-learn

# --- Embeddings & NLP Models ---
sentence-transformers
openai
faiss-cpu
chromadb
rank_bm25
jq

# --- LLM & RAG Frameworks ---
langchain
langchain-community
langchain-core
langchain-groq
langchain_huggingface
langchain-classic
langgraph

# --- Web UI ---
streamlit

# --- PDF Generation ---
fpdf2
reportlab